{
  "log": {
    "_recordingName": "Manager/when the manager is configured with allow identifiers/returns the same cert for the same host",
    "creator": {
      "comment": "persister:filter-fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "cd93e8336444463aed2a23adaad21f8b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/jose+json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://anchor.dev/autocert-cab3bc/development/x509/ca/acme"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 412,
            "text": "{\"newNonce\":\"https://anchor.dev/autocert-cab3bc/development/x509/ca/acme/new-nonce\",\"newAccount\":\"https://anchor.dev/autocert-cab3bc/development/x509/ca/acme/new-account\",\"newOrder\":\"https://anchor.dev/autocert-cab3bc/development/x509/ca/acme/new-order\",\"revokeCert\":\"https://anchor.dev/autocert-cab3bc/development/x509/ca/acme/revoke-cert\",\"meta\":{\"website\":\"https://anchor.dev\",\"externalAccountRequired\":true}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "fly-request-id",
              "value": "01HGBYM8D9NR33K2S7RNVR46JK-chi"
            },
            {
              "name": "etag",
              "value": "W/\"22f24c4757511b8a5c30da37aa7f09ba\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 0,
      },
      {
        "_id": "cd93e8336444463aed2a23adaad21f8b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/jose+json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://anchor.dev/autocert-cab3bc/development/x509/ca/acme"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
        [...]
