{
  "log": {
    "_recordingName": "Manager/renewal logic/managedCertificate reterns a new cert if the current one has expired",
    "creator": {
      "comment": "persister:filter-fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "cd93e8336444463aed2a23adaad21f8b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/jose+json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://anchor.dev/autocert-cab3bc/development/x509/ca/acme"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 412,
            "text": "{\"newNonce\":\"https://anchor.dev/autocert-cab3bc/development/x509/ca/acme/new-nonce\",\"newAccount\":\"https://anchor.dev/autocert-cab3bc/development/x509/ca/acme/new-account\",\"newOrder\":\"https://anchor.dev/autocert-cab3bc/development/x509/ca/acme/new-order\",\"revokeCert\":\"https://anchor.dev/autocert-cab3bc/development/x509/ca/acme/revoke-cert\",\"meta\":{\"website\":\"https://anchor.dev\",\"externalAccountRequired\":true}}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "W/\"22f24c4757511b8a5c30da37aa7f09ba\""
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "fly-request-id",
              "value": "01HGBYMYDJCDJMTZBRDVSJFABJ-chi"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 0,
      },
      {
        "_id": "bbc0aefe4539a26cf1834e071769443c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/jose+json"
            }
          ],
          "method": "HEAD",
          "queryString": [],
          "url": "https://anchor.dev/autocert-cab3bc/development/x509/ca/acme/new-nonce"
        },
        "response": {
          "content": {
            "mimeType": "text/html",
            "size": 0
          },
          "headers": [
            {
              "name": "fly-request-id",
              "value": "01HGBYMYFSSBC42DD6QB3STTM5-chi"
            },
            {
              "name": "replay-nonce",
              "value": "TGabbhJWFZpRX7lUjmgaGoBK-R-1ADOP"
            },
            {
              "name": "location",
              "value": "<https://anchor.dev/autocert-cab3bc/development/x509/ca/acme>;rel=\"index\""
            },
            {
              "name": "content-type",
              "value": "text/html"
            }
          ],
          "redirectURL": "<https://anchor.dev/autocert-cab3bc/development/x509/ca/acme>;rel=\"index\"",
          "status": 200,
          "statusText": "OK"
        },
        "time": 0,
      },
      {
        "_id": "972b845227b2f6844bbad502105772bc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/jose+json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/jose+json",
            "params": [],
            "text": "{\"payload\":\"<PAYLOAD>\",\"protected\":\"<PROTECTED>\",\"signature\":\"<SIGNATURE>\"}"
          },
          "queryString": [],
          "url": "https://anchor.dev/autocert-cab3bc/development/x509/ca/acme/new-account"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 158,
            "text": "{\"status\":\"valid\",\"contact\":[\"mailto:developer@anchor.dev\"],\"orders\":\"https://anchor.dev/autocert-cab3bc/development/x509/ca/acme/acct/BCB6:E66D:273C/orders\"}"
          },
          "headers": [
            {
              "name": "replay-nonce",
              "value": "wUnAUHO95ft2qk42RZbMFw4MTxTKxKwn"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"0f64752ffded1c03562e24681076b03f\""
            },[...]
